# Visual Studio
.vs/
*.user

# Carpetas de compilación
bin/
obj/

# Otros archivos de VS
*.suo
*.userosscache
*.sln.docstates

# Node.js
node_modules/

# Archivos de configuración local y credenciales de usuario
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.user.json
